<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	<context:property-placeholder location="classpath:datos.properties"/>
	<!-- a partir de aquí se definen los beans -->
	<!-- bean mientrenador asociado a la clase EntrenadorBaloncesto -->
	<!--<bean id="mientrenadorbasket" class="com.ejemplo.EntrenadorBaloncesto">
	</bean>-->
	<!-- bean mientrenador asociado a la clase EntrenadorFutbol -->
	<!--<bean id="mientrenadorfutbol" class="com.ejemplo.EntrenadorFutbol">
	</bean>-->
	<!-- Spring escaneará recursivamente todas las clases del paquete 
	y subpaquetes com.ejemplo -->
	<!--  <context:component-scan base-package="com.ejemplo"/>-->
	<!-- servicio añadido -->
	<bean id="miExperienciaServicio" class="com.ejemplo.PocaExperienciaServicio">
	</bean>
	<bean id="mientrenadorfutbol" class="com.ejemplo.EntrenadorFutbol">
		<!-- se establece qué bean se inyecta (miExperienciaServicio) y dónde (en el
		constructor) -->
		<constructor-arg ref="miExperienciaServicio"></constructor-arg>
		<property name="email" value="correodeprueba@mail.com"></property>
		<property name="equipo" value="Mean Machine"></property>
	</bean>
	<bean id="mientrenadorbasket" class="com.ejemplo.EntrenadorBaloncesto">
		<!-- se establece qué bean se inyecta (miExperienciaServicio) y dónde (en el
		constructor) -->
		<constructor-arg ref="miExperienciaServicio"></constructor-arg>
		<!-- asigna el valor de la clave email del archivo properties -->
		<property name="email" value="${email}" />
		<!-- asigna el valor de la clave equipo del archivo properties -->
		<property name="equipo" value="${equipo}" />
	</bean>
	<bean id="mientrenadortenis" class="com.ejemplo.EntrenadorTenis">
		<!-- se establece qué bean se inyecta (miExperienciaServicio) y dónde (en el
		constructor) -->
		<constructor-arg ref="miExperienciaServicio"></constructor-arg>
	</bean>
	<bean id="mientrenadorjockey" class="com.ejemplo.EntrenadorJockey">
		<!-- se establece qué bean se inyecta (miExperienciaServicio) 
		y sobre qué método setter (setExperienciaServicio) -->
		<property name="experienciaServicio" ref="miExperienciaServicio" />
	</bean>
</beans>